/* Our css file */

/* =====HEADER===== */

img {
    width: 50%;
    border-radius: 5%;
}

/*
header div {
    border: 2px solid purple;
    display: inline-block;
}
*/

header {
    background-color: lightgrey;
    position: fixed;
    z-index: 3;
}

main {
    margin-top: 250px;
}

.head-wrapper {
    display: inline-flex;
    background-image: url(https://www.pennington.com/-/media/images/pennington-na/us/blog/seed/all-you-need-to-know-about-zoysia-grass/zoysia-header.jpg)
}

.head-wrapper div{
    width: 33.33%;
    height: 200px;
    border: 2px solid purple;
}

#header-nav li {
    display: inline-block;
    margin-right: 10%;
}

#header-nav li a {
    text-decoration: none;
}

a:hover {
    color: orange;
    border: 1px solid orange;
    padding: 5px 10px;
}

/* =====MAIN===== */
span {
    color: green;
}

table {
    width: 80%;
    margin: auto; /* centers */
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th,td {
    width: 1%; /* 20% is the precise amount, (100% / 5), but if you give anything below it but more than 0, it comes out even anyways*/
}

/* =====FOOTER===== */

footer {
    background: yellow;
}

.fab {
    font-size: 30px;
}

.fa-github {
    color: #23292D;
}

.fa-linkedin {
    color: #1377B4;
}

.fa-medium {
    color: #292929
}

.fa-twitter {
    color: #1EA1F2;
}

.item {
    border: 2px solid purple;
    width: 50%;
    height: 100px;
    margin: 0;
    position: relative;
    left: 100px;
}

.item1 {
    background: red;
    top: 10px;
}

.item2 {
    background: green;
    top: 150px;
}

.item3 {
    background: blue;
    top: 210px;
}

.sticky-note {
    padding: 10px;
    background: skyblue;
    width: 200px;
    position: sticky;
    bottom: 10px;
}