/* Our css file */

/* =====HEADER===== */

img {
    width: 50%;
    border-radius: 5%;
}

/*
header div {
    border: 2px solid purple;
    display: inline-block;
}
*/

header {
    background-color: yellow;
}

.head-wrapper {
    display: inline-flex;
}

.head-wrapper div{
    width: 33.33%;
    height: 200px;
    border: 2px solid purple;
}

#header-nav li {
    display: inline-block;
    margin-right: 10%;
}

#header-nav li a {
    text-decoration: none;
}

/* =====MAIN===== */
span {
    color: green;
}

table {
    width: 80%;
    margin: auto; /* centers */
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th,td {
    width: 1%; /* 20% is the precise amount, (100% / 5), but if you give anything below it but more than 0, it comes out even anyways*/
}

/* =====FOOTER===== */

footer {
    background: lightblue;
}